<a href="https://colab.research.google.com/github/VaishnaviTyagi23/Machine_Learning/blob/main/2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Programming Languages used for ML:**
1. Python
2. R

#print function

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('ML' + ' projects')

ML projects

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

#Basic Data Types:
1. int
2. float
3. strings

In [ ]:
type(8)

int

In [ ]:
type(5.44)

float

In [ ]:
type('hello')

str

#Constant and Variables

In [ ]:
sh='Vaish'

In [ ]:
print(sh)

Vaish

In [ ]:
sh='Tyagi'
print(sh)

Tyagi

In [ ]:
name,myname,iam='Vaish','tyagi','anu'
print(name)
print(myname)
print(iam)

Vaish
tyagi
anu

Python is case sensitive

In [ ]:
x=y=z=23
print(x)
print(y)
print(z)

23
23
23

#InputFunction

In [ ]:
n1=input('enter first no.')
n2=input('enter second no.')
sum=n1+n2 #input function takes input as string
print(sum)

enter first no.22
enter second no.22
2222

In [ ]:
n1=int(input('enter first no.'))
n2=int(input('enter second no.'))
sum=n1+n2 #input function takes input as string
print(sum)

enter first no.22
enter second no.33
55

Basic Data Types in Python
1. Integer
2. Floating point
3. Complex
4. Boolean
5. String

In [ ]:
#integer
a=8
print(a)

8

In [ ]:
type(a)

int

In [ ]:
#floating point
b=2.3
print(b)
type(b)

2.3

float

In [ ]:
#complex numbers
c=1+3j
print(c)
type(c)

(1+3j)

complex

Convert One data type to another

In [ ]:
#int to float
x=10
print(x)
type(x)

10

int

In [ ]:
y=float(x)
print(y)
type(y)

10.0

float

In [ ]:
#float to int
x=5.88
print(x)
type(x)

5.88

float

In [ ]:
y=int(x)
print(y)
type(y)

5

int

Boolean
1.True
2. False

In [ ]:
a=True
print(a)
type(a)

True

bool

In [ ]:
b=False
print(b)
type(b)

False

bool

In [ ]:
a=7<3
print(a)
type(a)

False

bool

String

In [ ]:
print('Machine Learning')

Machine Learning

In [ ]:
my_string='ML'
print(my_string)
type(my_string)

ML

str

In [ ]:
print('Hello'*5)

HelloHelloHelloHelloHello

Slicing

In [ ]:
my='Programming'

In [ ]:
print(my[1:5])  #values from Index 1 to 5 will be sliced
# index starts with 0
# 5th letter wont be printed

rogr

In [ ]:
# step
print(my[0:10:2]) #every 2nd letter will be removed
#o to 9 will be printed

Pormi

String Concatenation

In [ ]:
word1='Machine '
word2='Learning'
print(word1+word2)

Machine Learning

Types of Objects in Python:
1. Immutable Objects(whose value can't be changed once its created)
2. Mutable Objects (whose value can be changed once its created)

Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:
1. List
2. Set
3. Dictionary

#List

In [ ]:
#list should be included in square bracket
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
#list can have multiple data types
my_list=[1,2,3,'hello',5.44]
print(my_list)
type(my_list)

[1, 2, 3, 'hello', 5.44]

list

In [ ]:
#list are mutable so they can be changed once created
my_list=[1,2,3,'hello',5.44]
my_list.append(55)
print(my_list)

[1, 2, 3, 'hello', 5.44, 55]

In [ ]:
#print elements of a list using their index
print(my_list[0])
print(my_list[2])

1
3

In [ ]:
#list allows duplicate values
list1=[1,2,3,1,1,5.44]
print(list1)

[1, 2, 3, 1, 1, 5.44]

In [ ]:
#length of list
print(len(list1))

6

In [ ]:
#initiating an empty list
list2=[]
print(list2)

[]

In [ ]:
list2.append(3)

In [ ]:
print(list2)

[3]

In [ ]:
#delete an item in a list
list2=[1,2,44,'english',2.44,True]
print(list2)


del list2[2]
print(list2)

[1, 2, 44, 'english', 2.44, True]
[1, 2, 'english', 2.44, True]

In [ ]:
#join 2 list
list3=[1,2,3,4,5]
list4=[6,7,8,9,10]
list5=list4 + list3
print(list5)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

#TUPLE

In [ ]:
tuple1=(2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [ ]:
#tuple allows multiple data types
tuple2=(1,2,3,5,"ML",False)
print(tuple2)

(1, 2, 3, 5, 'ML', False)

In [ ]:
#convert list to tuple
list3=[3,4,5,6]
print(list3)

tuple3=tuple(list3)
print(tuple3)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
#access elements through index values in tuple
print(tuple3[2])

5

In [ ]:
#tuples are immutable so they cant have changes(neither added or deleted)

In [ ]:
tuple3.appned(3)

AttributeError: 'tuple' object has no attribute 'appned'

In [ ]:
print(len(tuple3))

4

#SET

In [ ]:
#enclosed in curly bracket
set1={1,2,3,4}
print(set1)
type(set1)

{1, 2, 3, 4}

set

In [ ]:
#set doesn't supprt indexing
print(set1[2])

TypeError: 'set' object is not subscriptable

In [ ]:
#convert list to set
list2=[6,7,8,9,10]
x=set(list2)
print(x)

{6, 7, 8, 9, 10}

In [ ]:
#set doesnot allow duplicate values
list3=[6,7,8,9,10,6,7,8,9,10]
set3=set(list3)
print(set3)

{6, 7, 8, 9, 10}

#Dictionary

In [ ]:
#KEY-VALUE PAIR

In [ ]:
dic={'name':'AJ','age':33,'country':'USA'}
print(dic)
type(dic)

{'name': 'AJ', 'age': 33, 'country': 'USA'}

dict

In [ ]:
#call a value with their keys
print(dic['name'])

AJ

In [ ]:
#dictionary doesnt allow duplicate values
dic2={'name':'AJ','age':33,'country':'USA','name':'AJ','age':33,'country':'USA'}
print(dic2)

{'name': 'AJ', 'age': 33, 'country': 'USA'}

#Operators

1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

Arithmetic

In [ ]:
n1=20
n2=10

In [ ]:
#add
sum=n1+n2
print(sum)

30

In [ ]:
#subtraction
sub=n1-n2
print(sub)

10

In [ ]:
#multiplication
mul=n1*n2
print(mul)

200

In [ ]:
#division
div=n1/n2
print(div)

2.0

In [ ]:
#exponent
exp=n1**n2
print('exponent=',exp)

exponent= 10240000000000

In [ ]:
#modulus
mod=n1%n2
print(mod)

0

Assignment Operator
+=
-=
*=
/=
%=

In [ ]:
a=5
print(a)

5

In [ ]:
a=5
a+=5
print(a)

10

In [ ]:
b=2
b-=2
print(b)

0

Comparison Operators

In [ ]:
a=5
b=10

print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

False
True
True
False
True
False

Logical Operators
1. and
2. or
3. not

In [ ]:
a=10
print(a>10 and a>5)

False

In [ ]:
print(a>10 or a>5)

True

In [ ]:
print(not(a>10 or a>5))

False

Identity Operator
1. is
2. is not

In [ ]:
x=5
y=6
print(x is y)

False

In [ ]:
x=5
y=5
print(x is y)

True

In [ ]:
x=5
y=6
print(x is not y)

True

Membership Operator
1. in
2. not in

In [ ]:
x=5
y=6
z=[1,2,3,4,5]#list
print( x in z)

True

In [ ]:
print( y in z)

False

#if-else statement

In [ ]:
#simple if else statement
a=30
b=50
if(a>b):
  print('a is greater')
else:
  print('b is greater')

b is greater

In [ ]:
a = int(input('Enter first no.:'))
b = int(input('Enter second no.:'))
if(a>b):
  print('a is greater')
else:
  print('b is greater')

Enter first no.:33
Enter second no.:36
b is greater

if elif else statement

In [ ]:
a = 15
b = 25
c = 30

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest number')

c is the greatest number

nested if statement

In [ ]:
a = 20
b = 40
c = 60

if (a>b):
  if (a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if (b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number')

c is the greatest number

#For loop

In [ ]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [ ]:
for i in range(7):    # 0,1,2,3,4,5,6
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000
Enter the price of the laptop : 70000
Enter the price of the laptop : 80000

In [ ]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [ ]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While Loop

while condition:

In [ ]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 5

while i<3:
  print(i)
  i +=1

Functions:

Function is a block of code that can be reused in a Program

Factorial of a Number

Factorial of a number is the product of all the positive integers less than or equal to the given number

Factorial of 5 = 5 x 4 x 3 x 2 x 1 = 120

In [ ]:
number = int(input(' Enter a number to find its factorial : '))

factorial = 1

if number == 0:
  print(' The Factorial of 0 is 1')

else:
  for i in range(1, number+1):
    factorial = factorial*i
  print('The factorial of ',number,' is',factorial)

 Enter a number to find its factorial : 5
The factorial of  5  is 120

In [ ]:
def factorial_value(num):

  factorial = 1

  if num == 0:
    return factorial

  else:
    for i in range(1, num+1):
      factorial = factorial*i
    return factorial

In [ ]:
print(factorial_value(5))

120

In [ ]:
print(factorial_value(10))

3628800

In [ ]:
print(factorial_value(6))

720